<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.drmabuse.plugin"
        version="0.1.0">

  <name>LocationPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/locationplugin.js" target="js/locationplugin.js"/>

  <js-module src="www/locationplugin.js" name="locationplugin">
    <clobbers target="locationplugin" />
  </js-module>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LocationPlugin">
        <param name="android-package" value="com.drmabuse.plugin.LocationPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/LocationPlugin.java" target-dir="src/com/drmabuse/plugin/"/>
  </platform>
</plugin>
